{% extends 'main/base.html' %} {% block content %}
<section class="container bg-body" id="adminstration">
  <div class="title-text text-center mt-2">
    <span>Rahbariyat</span>
  </div>
  <div class="person">
    <center>
      <div class="image">
        <img src="assets/img/test-rektor.jpg" alt="" />
      </div>
      <div class="info">
        <b>YULDASHEV AKRAMJON SULTANMURADOVICH</b>
        <p><i>Rektor: Biologiya fanlari doktor, professor</i></p>
        <p><b>Telefon: </b><a href="tel:99899999999">+99891999090909</a></p>
        <p>
          <b>Email</b>:
          <a href="mailto:example@mail.ru">email@mail.proto</a>
        </p>
        <p>
          <b>Qabul kunlari: </b> Har kuni 8<sup>00</sup> dan 11<sup>00</sup>
          gacha
        </p>
      </div>
    </center>
    <div class="biography">
      <b>Biografiya</b>
      <ul>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
      </ul>
    </div>
  </div>
  <div class="person">
    <center>
      <div class="image">
        <img src="assets/img/test-rektor.jpg" alt="" />
      </div>
      <div class="info">
        <b>YULDASHEV AKRAMJON SULTANMURADOVICH</b>
        <p><i>Rektor: Biologiya fanlari doktor, professor</i></p>
        <p><b>Telefon: </b><a href="tel:99899999999">+99891999090909</a></p>
        <p>
          <b>Email</b>:
          <a href="mailto:example@mail.ru">email@mail.proto</a>
        </p>
        <p>
          <b>Qabul kunlari: </b> Har kuni 8<sup>00</sup> dan 11<sup>00</sup>
          gacha
        </p>
      </div>
    </center>
    <div class="biography">
      <b>Biografiya</b>
      <ul>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
      </ul>
    </div>
  </div>
  <div class="person">
    <center>
      <div class="image">
        <img src="assets/img/test-rektor.jpg" alt="" />
      </div>
      <div class="info">
        <b>YULDASHEV AKRAMJON SULTANMURADOVICH</b>
        <p><i>Rektor: Biologiya fanlari doktor, professor</i></p>
        <p><b>Telefon: </b><a href="tel:99899999999">+99891999090909</a></p>
        <p>
          <b>Email</b>:
          <a href="mailto:example@mail.ru">email@mail.proto</a>
        </p>
        <p>
          <b>Qabul kunlari: </b> Har kuni 8<sup>00</sup> dan 11<sup>00</sup>
          gacha
        </p>
      </div>
    </center>
    <div class="biography">
      <b>Biografiya</b>
      <ul>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
        <li>1983 yilda Samarqand davlat universitetini tamomladi</li>
      </ul>
    </div>
  </div>
</section>
{% endblock content %} {% block title %}
<title>Rahbariyat</title>
{% endblock title %}
