{% extends 'main/base.html'%} {% block content %}

<section id="news" class="container mt-5">
  <div class="title-text mb-5">
    <span>So'ngi yangiliklar</span>
  </div>
  <div class="row g-3">
    {% for post in news_posts %}
    <div class="col-sm-12 col-md-6 col-lg-3">
      <a href="{% url 'main:single_post' post.id %}">
        <div class="card" style="overflow: hidden">
          <img src="{{ post.little_image.url }}" />
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
<script>
  var title_Text= document.querySelector('.title-text');
  // if param called type in windows is primary then do smth
  if (window.location.href.indexOf('type=primary') > -1) {
    title_Text.innerText = 'Video yangiliklar';
  }  else if (window.location.href.indexOf('type=secondary') > -1) {
    title_Text.innerText = 'Foto yangiliklar';
  } else if (window.location.href.indexOf('type=triary') > -1) {
    title_Text.innerText = 'Qonunchilikdagi yangiliklar';
  }
</script>

{% endblock %} {% block title %}
<title>Barcha yangiliklar</title>
{% endblock title %}
