{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'assets/css/splide.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    {% block title%} {% endblock title%}
  </head>

  <body>
    <nav
      class="navbar navbar-expand-lg"
      id="navbar"
      style="
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
      "
    >
      <div class="container-fluid lg-justify-content-center">
        <a class="navbar-brand" href="/" style="width: 70px">
          <img src="{% static 'assets/img/logo.png' %}" alt="logo" width="50" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
          aria-controls="#navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbar"
        >
          <ul class="navbar-nav mb-2 mb-lg-0 caret-parent">
            <div class="caret"></div>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Biz haqimizda
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'main:about' %}"
                    >Litsey haqida ma'lumot</a
                  >
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'main:leadership' %}"
                    >Rahbariyat</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="about.html">Ma'muriyat</a>
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Bog'lanish</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'main:contact' %}"
                    >Direktorga murojaat</a
                  >
                </li>
                <li>
                  <a
                    class="dropdown-item"
                    href="{% url 'main:contact_anonym' %}"
                    >Anonim murojaat</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                O'quvchilar uchun
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="schedule.html">Dars jadvali</a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a href="block-test.html" class="dropdown-item">Blok test</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'main:all_resourses' %}"
                    >Foydali resurslar</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="{% url 'main:gallery' %}" class="nav-link"
                >Fotogalareya</a
              >
            </li>
            <li class="nav-item">
              <a href="{% url 'main:all_news'%}" class="nav-link"
                >Yangiliklar</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content%} {% endblock content %}
    <div class="container-fluid bg-body mt-3">
      <footer class="py-5">
        <div class="row">
          <div class="col-lg-3 col-md-2 col-sm-12 offset-md-2 mb-3">
            <div class="col mb-3">
              <a
                href="/"
                class="d-flex align-items-center mb-3 link-dark text-decoration-none"
              >
                <img
                  src="{% static 'assets/img/logo.png' %}"
                  alt=""
                  width="60"
                />
              </a>
              <p class="text-muted">&copy; 2023</p>
            </div>
          </div>
          <div class="col-6 col-md-2 mb-3">
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="{% url 'main:about' %}" class="nav-link p-0 text-muted"
                  >Litsey haqida ma'lumot</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Manzilimiz</a>
              </li>
              <li class="nav-item mb-2">
                <a
                  href="{% url 'main:leadership' %}"
                  class="nav-link p-0 text-muted"
                  >Rahbariyat</a
                >
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Ma'muriyat</a>
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Dars jadvali</a>
              </li>
              <li class="nav-item mb-2">
                <a href="#" class="nav-link p-0 text-muted">Blok test</a>
              </li>
              <li class="nav-item mb-2">
                <a
                  href="{% url 'main:all_resourses' %}"
                  class="nav-link p-0 text-muted"
                  >Foydali resurslar</a
                >
              </li>
            </ul>
          </div>

          <div class="col-6 col-md-2 mb-3">
            <ul class="nav flex-column">
              <li class="nav-item mb-2">
                <a
                  href="{% url 'main:contact_anonym' %}"
                  class="nav-link p-0 text-muted"
                  >Bog'lanish</a
                >
              </li>
              <li class="nav-item mb-2">
                <a
                  href="{% url 'main:all_news' %}"
                  class="nav-link p-0 text-muted"
                  >Yangiliklar</a
                >
              </li>
              <li class="nav-item mb-2">
                <a
                  href="{% url 'main:gallery' %}"
                  class="nav-link p-0 text-muted"
                  >Fotogalareya</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="d-flex flex-sm-row justify-content-center py-4 border-top">
          <p>&copy; 2023 ADU akademik litseyi. Barcha huqular himoyalangan.</p>
          <!-- <ul class="list-unstyled d-flex">
                <li class="ms-3">
                  <a class="link-dark" href="#"
                    ><svg class="bi" width="24" height="24">
                      <use xlink:href="#twitter" /></svg
                  ></a>
                </li>
                <li class="ms-3">
                  <a class="link-dark" href="#"
                    ><svg class="bi" width="24" height="24">
                      <use xlink:href="#instagram" /></svg
                  ></a>
                </li>
                <li class="ms-3">
                  <a class="link-dark" href="#"
                    ><svg class="bi" width="24" height="24">
                      <use xlink:href="#facebook" /></svg
                  ></a>
                </li>
              </ul> -->
        </div>
      </footer>
    </div>
    <script src="{% static 'assets/js/splide.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
