{% extends 'main/base.html' %} {% block content %}
<section class="container bg-body py-2 rounded" id="adminstration">
  <div class="title-text text-center mt-2">
    <span>{{ student.fullname }}</span>
  </div>
  <div class="image">
    <center>
      <img
        src="{{ student.img.url }}"
        alt="{{student.title}}"
        style="max-width: 100%"
      />
    </center>
  </div>
  <div class="content">{{ student.biography.html|safe }}</div>
</section>
{% endblock %} {% block title %} <title>{{ student.fullname }}</title> {% endblock title %}
