{% extends 'main/base.html' %} {% load static %} {% block content %}
<main>
  <div class="container-fluid">
    <div class="row" id="hero">
      <div class="col-md-12 col-lg-4">
        <div class="row flex-column faculties">
          {% for faculty in faculties %}
          <a href="{% url 'main:faculty' faculty.id%}">
            <div class="faculty">
              <img class="img" alt="" />
              <span>{{ faculty.name }}</span>
            </div>
          </a>
          {% endfor %}
        </div>
        <div class="form">
          <a class="btn btn-primary mb-2" href="{% url 'main:contact' %}">
            Akademik litsey direktoriga murojaat
          </a>
          <a class="btn btn-outline-secondary mb-2" href="{% url 'main:contact_anonym' %}">
            Ta'lim sifatini yaxshilash yuzasidan murojaat yo'llang
          </a>
          <div class="card p-2 bg-danger-subtle">
            <p>Korrupsion holatlarga duch kelganda murojaat uchun</p>
            <p>
              telegram:
              <a href="https://t.me/anddu_rektori_bot">@anddu_rektori_bot</a>
            </p>
            <p>telefon: <a href="tel:+998742238830">+998 74 223 88 30</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-8">
        <section class="splide" aria-label="Splide Basic HTML Example">
          <div class="splide__track">
            <ul class="splide__list">
              {% for post in news_posts|slice:':3'%}
              <li class="splide__slide">
                <img
                  src="{{ post.big_image.url }}"
                  alt="hero-image 1350x750"

                  style="max-width: 100%; width: 100%; height: 600px; object-fit: cover;" />
                <div class="info">
                  <p>
                    <a href="{% url 'main:single_post' post.id %}"
                      >{{ post.title }}</a
                    >
                  </p>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </section>
      </div>
    </div>
    <section id="news" class="container mt-5">
      <div class="title-text mb-5">
        <span>So'ngi yangiliklar</span>
      </div>
      <div class="row g-3">
        {% for post in secondary|slice:':8' %}
        <div class="col-sm-12 col-md-6 col-lg-3">
          <a href="{% url 'main:single_post' post.id %}">
            <div class="card">
              <img src="{{ post.little_image.url }}" />
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      <div class="text-center">
        <a
          href="{% url 'main:all_news' %}"
          class="btn btn-primary mt-2 float-end"
          >Barchasini ko'rish</a
        >
      </div>
    </section>
    <section id="video_news" class="container mt-5">
      <div class="title-text mb-5">
        <span>Video yangiliklar</span>
      </div>
      <div class="row g-3">
        {% for post in primary %}
        <div class="col-sm-12 col-md-6 col-lg-3">
          <a href="{% url 'main:single_post' post.id %}">
            <div class="card">
              <img src="{{ post.little_image.url }}" />
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
              </div>
            </div></a
          >
        </div>

        {% endfor %}
      </div>
      <div class="text-center">
        <a href="/all/news?type=primary" class="btn btn-primary mt-2 float-end"
          >Barchasini ko'rish</a
        >
      </div>
    </section>
    <section id="law_news" class="container mt-5">
      <div class="title-text mb-5">
        <span>Qonunchilikdagi yangiliklar</span>
      </div>
      <div class="row g-3">
        {% for post in triary %}
        <div class="col-sm-12 col-md-6 col-lg-3">
          <a href="{%url 'main:single_post' post.id %}">
            <div class="card">
              <img src="{{ post.little_image.url }}" />
              <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
        <div class="text-center">
          <a href="/all/news?type=triary" class="btn btn-primary mt-2 float-end"
            >Barchasini ko'rish</a
          >
        </div>
      </div>
    </section>
    <section id="talenteds_news" class="container mt-5">
      <div class="title-text mb-5">
        <span>Iqtidorli talabalar</span>
      </div>
      <div class="row g-3">
        {% for student in talanted_students %}
        <div class="col-sm-12 col-md-6 col-lg-3">
          <a href="{%url 'main:best_student' student.id %}">
            <div class="card">
              <img src="{{student.img.url }}" />
              <div class="card-body">
                <h5 class="card-title">{{ student.fullname }}</h5>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
      <div class="text-center">
        <a
          href="{% url 'main:best_students' %}"
          class="btn btn-primary mt-2 float-end"
          >Barchasini ko'rish</a
        >
      </div>
    </section>
    <section id="e_books" class="container mt-5">
      <div class="title-text mb-5">
        <span>Elektron resurslar</span>
      </div>
      <div class="row g-3">
        {% for file in useful_resources %}
        <div class="col-sm-12 col-md-6 col-lg-3">
          <div class="card">
            <img src="{{ file.img.url }}" />
            <div class="card-body">
              <a href="{{file.file.url}}" class="text-black">
                <h5 class="card-title">{{ file.title }}</h5>
              </a>
              <a
                class="btn btn-primary mt-2 float-end"
                href="{{ file.file.url }}"
                download
                >Yuklab olish</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="text-center">
        <a
          href="{% url 'main:all_resourses' %}"
          class="btn btn-primary mt-2 float-end"
          >Barchasini ko'rish</a
        >
      </div>
    </section>
  </div>
</main>
{% endblock content %} {% block title %}
<title>ADU akademik litseyi.</title>
{% endblock title %}
