{% extends 'main/base.html' %} {% block content %}
<section class="container bg-body py-2 rounded" id="adminstration">
  <div class="title-text text-center mt-2">
    <span>{{ post.title }}</span>
  </div>
  <div class="image">
    <center>
      {% if post.news_type == 'secondary'%}
      <img
        src="{{ post.big_image.url }}"
        alt="{{post.title}}"
        style="max-width: 100%; width: 800px; height: 500px; object-fit: cover;"
      />
      {% elif post.news_type == 'primary' %}
      <video controls style="max-width: 100%">
        <source src="{{ post.video.url }}" type="{{ post.video.type }}" />
      </video>
      {% endif %}
    </center>
  </div>
  <div class="content">
    {% if not post.news_type == 'primary' %} {% for image in post.body.all %}
    <p class="mt-1">{{ image.summary }}</p>
    <img src="{{image.image.url}}" alt="{{ image.summary }}" />
    {% endfor %} {% endif %}
    {% if post.more %}
      <div class="more mt-3"> 
        {{ post.more|safe }}
      </div>
    {% endif %}
    {% if post.attached_file %}
      <a class="btn btn-primary my-2" download href="{{ post.attached_file.url }}">Yuklab olish</a>
    {% endif %}
  </div>
</section>
{% endblock%} {% block title %}
<title>{{ post.title }}</title>
{% endblock title %}
